In [1]:
import pandas as pd
dt = pd.read_csv('newtrain.csv')

In [2]:
dt.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,title,Survived
0,1,3,1,22,1,0,0,7.2500,137,2,11,0
1,2,1,0,38,1,0,5,71.2833,81,0,12,1
2,3,3,0,26,0,0,7,7.9250,56,2,8,1
3,4,1,0,35,1,0,6,53.1000,55,2,12,1
4,5,3,1,35,0,0,7,8.0500,78,2,11,0

In [26]:
X = dt.iloc[:,:-1].values

In [27]:
Y = dt.iloc[:,-1].values

In [6]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [10]:
from sklearn.model_selection import train_test_split as tts
Xtr,Xte,Ytr,Yte = tts(X,Y, test_size=0.33)

In [60]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsClassifier as knn

# clf = knn(2)
clf = RFC(max_depth=20)

skf = StratifiedKFold(n_splits=6)
# skf = KFold(n_splits=7)

for train_index, test_index in skf.split(X, Y):
#     print("TRAIN:", train_index, "TEST:", test_index)
    Xtr, Xte = X[train_index], X[test_index]
    Ytr, Yte = Y[train_index], Y[test_index]
    clf.fit(Xtr,Ytr)
    print(clf.score(Xtr,Ytr))

clf.score(X,Y)
# cross_val_score(clf, X, Y, cv=4).mean()

0.9851752021563343
0.9838274932614556
0.9784366576819407
0.9892328398384926
0.9838492597577388
0.9892328398384926

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9640852974186308